.Drawer {
  height: 100vh;
  max-height: 100vh;
  min-width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  transform: translateX(-3000px);
  transition: ease-in-out;
  transition-duration: 1s;
  background-color: white;
  border: 2px solid black;
  overflow-y: auto;
}

.DrawerOpen {
  transform: translateX(0px);
  transition: ease-in-out;
  transition-duration: 0.2s;
}
