.Classroom {
  border: 1px solid black;
  border-radius: 7px;
  width: 150px;
  min-width: 200px;
  height: 100px;
  margin: 10px;
  text-align: center;
  overflow-wrap: normal;
  background-color: rgb(255, 255, 255);
}

.Classroom:hover {
  cursor: pointer;
}

.IconBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 10px 0 10px;
}

.Icons {
  background-color: rgb(238, 238, 238);
  margin: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.Icons:hover {
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

.ActiveClassroom {
  background-color: rgb(255, 255, 255);
  border: 2px solid tomato;
  transform: scale(1.03);
}
