.AssignedWorksheet {
  border: 3px solid black;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 10px 10px 10px;
}

.AssignedWorksheet:hover {
  cursor: pointer;
  background-color: rgb(245, 255, 254);
  transform: scale(1.05);
}

.WorksheetTitle {
}

.WorksheetDueDate {
}

.WorksheetProgress {
}
