.NewAssignment {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.ButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.AssignButton {
}

.CancelButton {
  margin: 0 15px;
}
