.NewWorksheet {
  display: flex;
  flex-direction: column;
  min-height: 650px;
  /* overflow-y: auto; */
}

.InputContainer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.mainImageContainer {
  margin: auto;
  width: 90%;
  border: 1px solid grey;
  box-shadow: 1px 2px 4px #888888;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.Title {
  margin: 20px auto -10px auto;
}

.Label {
  width: 150px;
  min-width: 150px;
  font-weight: bold;
}

.DisabledLabel {
  width: 150px;
  min-width: 150px;
  color: grey;
  font-weight: bold;
}

.ButtonBox {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto 20px auto;
  align-items: center;
  width: 75%;
}

.TagBox {
  display: flex;
  width: 90%;
  margin: auto;
}

.TagsBox {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(195, 195, 195);
  overflow: auto;
  max-height: 50px;
  min-height: 35px;
}
