.InviteOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.EmailInvite {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.EmailInviteInput {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
