.Title {
  margin: 20px auto -10px auto;
}

.Bold {
  /* color: teal; */
  font-weight: bold;
}

.Options {
  margin: auto;
}

.Errors {
  max-height: 70px;
  overflow: scroll;
  color: red;
}

.ButtonBox {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto 20px auto;
  align-items: center;
  width: 75%;
}
