.Share {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

.Title {
  color: teal;
}

.WorksheetName {
  margin-bottom: 30px;
}

.ButtonBox {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}
