.WorksheetContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.PictureContainer {
  width: 50vw;
  height: 50vw;
  max-width: 500px;
  max-height: 500px;
  min-width: 400px;
  min-height: 400px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.QuestionAnswerContainer {
  width: 50vw;
  height: 50vw;
  max-width: 500px;
  max-height: 500px;
  min-width: 400px;
  border: 1px solid black;
  box-sizing: border-box;
  overflow-y: scroll;
}

.ShowPanel {
  z-index: 40;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: red;
}

.HidePanel {
  z-index: -50;
  box-sizing: border-box;
  background-color: red;
}
